<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shelf-Chef</title>
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="flex-column justify-around">
    <header class="display-flex justify-space-between align-center p-2 bg-red-800">
      <h1 class="text-black-900">
        <a href="/">Shelf-Chef</a>
      </h1>
      <nav class="bg-red-800">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/" class="text-gray-800 hover:text-red-600 font-bold">Home</a> |
        <button class="no-button" id="logout">Logout</button> |
        <a href="/favorite" class="text-gray-800 hover:text-red-600">Favorites</a> |
        <a href="/recipe" class="text-gray-800 hover:text-red-600">Recipes</a> 
        {{else}}
        <a href="/login">login</a> |
        <a href="/" class="text-gray-800 hover:text-red-600 font-bold">Home</a>
        {{/if}}
      </nav>
    </header>
    <main class="justify-center container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>