<div class="flex font-sans favorite" data-id={{favorite.id}} data-index={{favorite.recipeID}}>

  <div class="flex flex-wrap">
    <h2 class="flex-auto text-lg font-bold text-slate-900">
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{favorite.title}}
    </h2>
  </div>

  <div class = "flex-none w-48 relative">
        <img src="{{favorite.image_url}}" class="absolute inset-0 w-full h-full object-cover" onclick="getFavIdInfo(event)"/>
  </div>
  <button type="button" id="show-more">Show More</button>
</div>

<script src="./js/favoriteIdInfo.js"></script>