<div class="flex-col text-center justify-center items-center">
<h1 class="text-lg m-3 p3 font-bold">Ever been in a situation where feel like you have nothing in the fridge? </h1>
<div class="flex text-lg items-center content-center py-16 px-10 bg-red-500 m-7 justify-around">
    
  <p>
We have all tried to be adventurous at one point with our culinary experimentation. 
Maybe you found a recipe on Tik-Tok or YouTube and you wanted to try for yourself or with your partner and did not use up all the ingredients you bought.
Now you can see if you can make something out of your leftovers or use those soon to be expired ingredients. 
  </p>
</div>

  <h1 class="text-lg m-3 p3 font-bold">What to Expect!</h1>
  <div class="flex text-lg  py-16 px-10 bg-red-500 ml-7 justify-around">
  <p>
When signing up for the first time or logging in, you will be directed to the Recipes tab where you can enter in your extra ingredients.
Once you have entered your ingredients and hit the Recipes button, a list of recipes will appear with the option to click on for a bit more information and or save it.
    You can save all your favorite recipes to your profile and refer back to them when you are ready to cook. 
When you are ready, go to the favorites tab and click on the picture of the recipe for more information
There, you will have detailed instructions on all the ingredients you will need and how to prepare it step by step. 
  </p>

</div>
</div>