<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-lg w-full space-y-8 bg-red-200 rounded-lg">


    <form class="m-5 login-form mt-8 space-y-6" action="#" method="POST">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-black-900">Sign in to your account</h2>
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm m-2">
        <div>
          <label for="email-address" class="font-bold">Email address</label>
          <input id="email-login" name="email" type="email" autocomplete="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-red-500 focus:border-red-500 focus:z-10 sm:text-sm" placeholder="Email address">
        </div>
        <div>
          <label for="password" class="font-bold">Password</label>
          <input id="password-login" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-red-500 focus:border-red-500 focus:z-10 sm:text-sm" placeholder="Password">
        </div>
      </div>

      <div>
        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg class="h-5 w-5 text-red-500 group-hover:text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
            </svg>
          </span>
          Sign in
        </button>
      </div>
    </form>
  </div>
</div>

<div class="flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-lg w-full space-y-8 bg-red-200 rounded-lg">
  <div class="flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-red-200 border-0">
    <div class="rounded-t mb-0 px-6 py-6"><div class="text-center mb-3">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-black-900">Sign Up For Shelf Chef</h2></div>
        <hr class="mt-6 border-b-1 border-red-800">
        </div>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <div class="text-slate-400 text-center mb-3 font-bold">
            </div>
            <form class="form signup-form">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-slate-600 text-xs font-bold mb-2" for="grid-password">Username</label>
                <input id="name-signup" type="username" class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Username">
                </div>
              <div class="relative w-full mb-3">
                <label class="block uppercase text-slate-600 text-xs font-bold mb-2" for="grid-password">Email</label>
                <input id="email-signup" type="email" class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Email">
                </div>
                <div class="relative w-full mb-3">
                  <label class="block uppercase text-slate-600 text-xs font-bold mb-2" for="grid-password">Password</label>
                <input id="password-signup" type="password" class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Password">
                </div>
                <div>
                    </div>
                    <div class="text-center mt-6">
                      <button class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" type="submit">Sign Up</button>
                      </div>
                      </form>
                      </div>
                      </div>
                            </div>
                            </div>
                            

<script src="./js/login.js"></script>
