<div class="w-50 h-full shadow-md bg-white px-1 absolute">
  <h3 class="m-4 text-center"> Add Ingredients</h3>
  <hr>
   <div class="flex m-5 rounded-full border-grey-light border">
	<button>
	  <span class="w-auto flex justify-end items-center text-grey p-2">
		Add
	  </span>
	</button>
	<input class="w-full rounded mr-4" type="text" placeholder="Search Ingredient">
</div>

{{#if projects.length}}
<p class="items-center text-sm py-4 px-6 h-12 text-gray-700 text-ellipsis"> Current Ingredients:</p>
  {{#each projects as |project|}}
  <ul class="flex">
    <li class="flex">
      <p class=" items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded">Ingredient 1</p>
      <div class="pointer-events-auto ml-20 rounded-md bg-green-600 py-3 px-3 text-[0.8125rem] font-semibold leading-5 text-white hover:bg-green-500">Clear</div>
    </li>
  </ul>
 {{/each}}
</div>
{{/if}}

<script src="./js/getRecipes.js"></script>
<script src="./js/getInfo.js"></script>
<script src="./js/ingredient.js"></script>
<script src="./js/favorites.js"></script>

