{{!-- <div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div id="user-id" data-id='{{id}}' class="row mt-4">
  <div class="col-md-6">
    <h3>Add New Ingredients</h3>

    <form class="form new-ingredient-form">
      <div class="form-group">
        <label for="ingredient-name">Ingredient name:</label>
        <input id="ingredientName" class="form-input" type="text"  />
        <button type="button" id="add-button" class="btn btn-primary">Add</button>
      </div>
      <div class="form-group">
        
        <button type="button" id="start-button" class="btn btn-primary">Recipe</button>
        <button type="button" id="clear-button" class="btn btn-primary">Clear</button>
        <button type="button" id="favorite-button" class="hide-fav-button">Clear</button>
      </div>
    </form>
  </div>


  <div class="col-md-6 ingredient-list">
    <h3>Current ingredients:</h3>


    <ul id="ingrBoard" class="ingrBoard">
     

    </ul>
 <div id="recipe-container">

 </div>
 <div id="recipe-dash" class="recipe-dash">
  <button id="closeRecipe">Close</button>

 </div> --}}

{{!-- ==================== --}}
<div id="user-id" data-id='{{id}}' class="w-50 h-auto shadow-md bg-gray-700 px-10 m-4 absolute rounded">
  <h3 class="m-4 text-center"> Add Ingredients</h3>
  <hr>
  
   <div class="flex m-5 rounded-full border-grey-light border bg-red-600">
	<button type="button" id="add-button">
	  <span class="w-auto flex justify-end items-center text-grey rounded p-2">
		Add
	  </span>
	</button>
	<input id="ingredientName" class="w-full rounded mr-4" type="text" placeholder="Search Ingredient">
</div>
<div>
        <button type="button" id="clear-button" class="ml-20 rounded-md bg-green-600 py-3 px-3 text-[0.8125rem] font-semibold leading-5 text-white hover:bg-green-500">
          <span class="w-auto flex justify-end items-center text-grey p-2">Clear List</span></button>
        <button type="button" id="start-button" class="ml-20 rounded-md bg-red-600 py-3 px-3 text-[0.8125rem] font-semibold leading-5 text-white hover:bg-red-500">
          <span class="w-auto flex justify-end items-center text-grey p-2">Get Recipes</span></button>        
        <button type="button" id="favorite-button" class="hide-fav-button">favorite</button>
</div>
<p class="items-center text-sm py-4 px-6 h-12 text-white text-ellipsis"> Current Ingredients:</p>
  <ul id="ingrBoard" class="flex ingrBoard">
      
  </ul>
</div>

 <div id="recipe-container">

 </div>

<div id="recipe-dash" class="recipe-dash">
  <button id="closeRecipe">Close</button>

 </div>

<script src="./js/getRecipes.js"></script>
<script src="./js/getInfo.js"></script>
<script src="./js/ingredient.js"></script>
<script src="./js/favorites.js"></script>

<div class="container flex items-center justify-between mx-auto"></div>